body{
    /*background-color:#DEB887;*/
    }
#divBack{
    background-color:#45454d;
    margin-left:-10px;
    margin-right:-10px;
    margin-top:15px;
    }
#tabStyle{
    width:1200px;
    margin:auto;
    }
#imgStyle{
    width:800px;
    text-align: center;
    }
td{
    border:1px dashed #999999;
    padding: 0px;
    margin:0px;
    }