#exhibition_slideshow_container {
	    position:relative;
            width:1200px;
	    height:auto;
	    overflow:hidden;
            
	    }
#exhibition_slideshow_container #exhibition_slideshow_controls {
	    position: absolute;
	    bottom:0;
	    left: 0; /*width: 1208px;*/
	    width:100%;
	    z-index: 20;
	    height:40px;
            }
#exhibition_slideshow_container #exhibition_slideshow_controls ul {
	    text-align: center;
	    margin: 12px 0 0 35px;
	    padding-left:42%;
	    }
#exhibition_slideshow_container #exhibition_slideshow_controls ul li {
	    display: inline-block;
	    display:block;
	    float:left;
	    width: 10px;
	    height:10px;
	    background:url(../photo/dian_a.png) no-repeat;
	    text-indent:-9999px;
	    cursor:pointer;
	    margin:0 5px;
            }
#exhibition_slideshow_container #exhibition_slideshow_controls ul li.activeSlide {
	    background:url(../photo/dian_h.png) no-repeat;
	    }
.box {
            z-index:999999;
            margin:auto;
	    }

.imgST{
            width:1200px;
            height:600px;
            }
#exhibition_slideshow{
            background-color:#45454d;
            text-align: center;
            margin:auto;
            }

/*
#divImg{
	    position:relative;
            z-index:1;
	    margin:auto;
	    margin-top:0px;
            background-color:#276A64;
	    }
*/