ul.nav li{
    position:relative;
    float:left;
    list-style: none;
    }
/*第一層選單樣式*/
ul.nav li a{
    display: block;
    padding:7px 20px;
    background: #c36a2d;
    color: #fff;
    text-decoration: none;
    }
/*第一層選單樣式_左邊線設定*/
ul.nav >li >a{
    border-left:1px dashed #ccc;
    }
ul.nav >li >a:hover{
    color:#333;
    background: #ddd;
    }
ul.nav li a:hover{
    background: #6e2142;
    color:#ffffff;
    }
/*第二層之後的下拉樣式*/
ul.nav li ul{
    display:none;
    flat:left;
    position: absolute;
    margin:0;
    padding:0;
    background-color:#FFF8E5;
    }
/*第一層被觸動時指定第二層*/
ul.nav li:hover > ul{
    display: block;
    }
/*第二層*/
ul.nav ul li{
    border-bottom:1px dashed #ddd;
    }
ul.nav ul li:last-child{
    border-bottom:none;
    }
ul.nav ul a{
    width:142px;
    padding:10px 12px;
    color:#333;
    background: #ddd;
    }
ul.nav ul a:hover{
    background: #6e2142;
    color:#ffffff;
    }
/*第三層*/
ul.nav ul li:hover > ul{
    display: block;
    position: absolute;
    top:0;
    left:100%;
    }
/*選單區塊樣式設定*/
.nav{
    width:920px;
    height:30px;
    margin:auto;
    padding:0px;
    background-color:#c36a2d;
    padding-top:7px;
    }
/*箭頭向下*/
.arrow-bottom{
    display: inline-block;
    margin-left:5px;
    border-top:4px solid #E89F71;
    border-right:4px solid transparent;
    border-left:4px solid transparent;
    width:1px;
    height:1px;
    }
/*箭頭向右*/
.arrow-right{
    display: inline-block;
    margin-left:12px;
    border-top:3px solid transparent;
    border-bottom:3px solid transparent;
    border-left:3px solid #666;
    widht:1px;
    height:1px;
    }