body{color:#333333;font-family:Segoe UI;font-size: 18px;}
h1{text-align: center;letter-spacing:0.2em;}
.pS{font-size: 18px;font-family: DFKai-SB;line-height:1.8em;text-align:justify;text-indent:35px;}
.pS00{font-size: 18px;font-family: DFKai-SB;line-height:1.8em;text-align:justify;}
.spS{font-size:15px;color:#025955;}
#divSS{width:700px;margin:auto;}
.olST{font-family: DFKai-SB;margin-left:20px;line-height:2em;margin-top:-8px;}
#div00{font-family: DFKai-SB;margin-top:30px;width:900px;margin:auto;}
#h3S{margin-top:-10px;color:#2f4f4f;text-align: center;}
.aH{text-decoration: none;color:#2f4f4f;padding:5px;font-size:20px;}
.aH:hover{background-color:#368B85;color:#ffffff;padding-left:10px;padding-right:10px;}